.container{
    background-color: var(--white);
}
.content_wrapper{
    max-width: var(--width);
    min-height: 400px;
    margin: 0 auto;
    padding: 20px 2vw;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    align-items: center;}

.image_wrapper{
    max-width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.image_wrapper img{
    width: 100%;
    min-height: 100%;
    aspect-ratio: 1;
}
.form_wrapper{
    padding: 20px 20% 20px 0;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: left;
    gap:20px;
    justify-content: center;
}
.form_wrapper h3{
    font-family: DM serif Display;
    font-size: 3.375rem;
}
.form_wrapper p{
    font-size: 1rem;
    color: var(--grey);
}
.discount_form{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}
.discount_form input{
    min-width: 100%;
    height: 4.5rem;
    border-radius: 1px;
    border: none;
    padding: 1.5rem 3rem;
    margin-bottom: 1rem;
    outline: none;
}
@media (max-width: 768px) {
    .content_wrapper{
        grid-template-columns: 1fr;

    }
    .form_wrapper {
        align-items: center;
        justify-content: start;
        padding: 0 20%;
        text-align: center;
        z-index: 1;
    }
    .discount_form{
        align-items: center;
    }
    .image_wrapper{
        margin-top: -100px;
        z-index: 0;
    }
}