.container{
    background-color: var(--lightBack);
}
.footer{
    max-width: var(--width);
    height: fit-content;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 20px 2vw;
}
.footer_title{
    font-family: DM serif Display;
    font-size: 21px;
    padding: 10px 0;
    margin-bottom: 20px;
}
.footer_logo_link {
    color: var(--khaki);
    font-family: DM Serif Display;
    font-size: 29px;
    font-weight: bold;
    text-transform: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    letter-spacing: 1px;
    line-height: 1.5;
}
.footer_logo_link span{
    color: var(--lightGrey);
    text-transform: uppercase;
    font-family: 'DM Sans',sans-serif;
    font-size: 13px;
    font-weight: lighter;
    letter-spacing: 2px;
}
.footer_links a {
    color: var(--khaki);
    transition: color .7s;
}
.footer_links a:hover{
    color: var(--lightKhaki);
}
.footer_links div, 
.footer_subscribe_form div{
   display: flex;
   flex-direction: column;
   gap: 10px;
   font-family: inherit;
   font-size: 15px;
}

/***************************/
.social_links {
    display: flex;
    align-items: center;
    margin: 10px 0;
}
.social_links a {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    
}
.social_links a:not(:last-child) {
    margin-right: 10px;
}

.social_links img{
    width: 20px;
    height: 20px;
    transition: transform .7s;
}
.social_links a img:hover {
    transform: scale(1.08);
}
.subscribe_form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.subscribe_form input{
    width: 100%;
    padding: 10px;
    border: none;
    outline: none;
}
.subscribe_form button {
    font-family: inherit;
    background-color: var(--khaki);
    color: var(--white);
    width: 8.7rem;
    height: 2.6rem;
    font-size: 1rem;
    border: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 1em;
    transition: background-color .7s;
}
.subscribe_form button:hover {
    background-color: var(--lightKhaki);
}
/***********************************************/
@media(max-width: 768px){
    .footer{
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 30px;
    }
    .footer_title{
        font-size: 19px;
        margin-bottom: 0;
    }
    .subscribe_form{
        align-items: center;
    }
}
