.container {
    background-color: var(--lightBack);
}

.banner {
    margin: 0 auto;
    max-width: var(--width);
    min-height: 400px;
    padding: 20px 2vw;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    background: var(--lightBack);
    align-items: center;
}

.banner h3 {
    font-size: 3.375rem;
    padding: 1vh;
    color: var(--black);
    font-family: DM Serif Display;
}

.banner_content {
    padding: 2vh 0;
}

.banner p {
    font-size: 1rem;
    margin-top: 1rem;
    padding: 0.625rem;
    color: var(--grey);
}

.banner_img {
    max-width: 100%;
    height: 100%;
}

.banner_img img {
    width: 100%;
    height: 100%;
}

@media (max-width: 1000px) {}

@media (max-width: 768px) {
    .banner {
        grid-template-columns: 1fr;
        min-height: 100%;
    }

    .banner_content {
        order: 1;
        text-align: center;
        margin-top: -50px;
        height: fit-content;
    }
}

@media (max-width: 400px) {}