.banner{
    height: 37.5rem;
    padding: 1.875rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    background:#A1E2EB url(../../../public/images/banner_background.png) no-repeat right bottom;
}
.banner button{
    width: 9.7rem;
    height: 5.1rem;
    font-size: 1.56rem;
    border: none;
    border-radius: .6rem;
    margin-top: 5rem;
    margin-left: 0.625rem;
}
.banner h3{
    font-size: 5rem;
    padding: 0.625rem;
}
.banner p {
    font-size: 3.9rem;
    margin-top: 1rem;
    padding: 0.625rem;
}