.modal {
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transform: scale(0);
    transition: transform 0.8s ease-in-out;
    z-index: 5;
}

.modal_active {
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    opacity: 1;
    pointer-events: all;
    z-index: 5;
    transform: scale(1);
}

.modal_content {
    padding: 20px;
    border-radius: 12px;
    background-color: #fff;
    width: 40vw;
    height: 100vh;
    transform: translateY(-100%);
    transition: 0.4s all;
    z-index: 5;

}

.modal_content_active {
    padding: 20px;
    background-color: #fff;
    width: 40vw;
    height: 100vh;
    transition: transform 0.4s ease-in-out;
    transform: translateY(0%);
    z-index: 5;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.modal_header {
    display: flex;
    align-items: center;
    padding: 10px 10px 30px 10px;
    border-bottom: 1px solid var(--white);
}

.modal_header h1 {
    font-family: DM serif Display;
    font-size: 2rem;
}

.modal_header button {
    margin-left: auto;
    background: transparent;
    border-radius: 50%;
    font-size: 20px;
    color: var(--lightKhaki);
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    transition: transform 0.4s;
}

.modal_header button:hover {
    transform: scale(1.1);
}

.modal_items {
    height: 70vh;
    overflow-y: scroll;
}

.modal_items p {
    text-align: left;
}

@media (max-width: 769px) {

    .modal_content,
    .modal_content_active {
        width: 80vw;
    }

    .modal_items table {
        width: 100%;
    }


}

@media (max-width: 400px) {

    .modal_content,
    .modal_content_active {
        width: 100vw;
    }
}