.container {
    max-width: var(--width);
    margin: 0 auto;
    padding: 50px 2vw;
}

.product_page_title {
    font-family: DM serif Display;
    text-align: center;
    font-size: 50px;
}

.products_wrapper_grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-auto-rows: 1fr;
    gap: 10px;

}
.filterInfo{
    width: 100vw;
    font-size: calc(1rem + .5vw);
    color: var(--khaki);
    font-family: inherit;
    text-align: center;
}

@media (max-width: 768px) {
    .products_wrapper {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }
}