.container{
    max-width: var(--width);
    margin: 0 auto;
    min-height: 110px;
    padding: 20px 2vw;
    display: grid;
    grid-template-columns: 10% 40% 40%;
    gap: 5%;
    align-items: center;
    text-transform: uppercase;
    font-size: 15px;
    border: 1px solid green;
}
.link {
    border-bottom: 1px solid transparent;
}
.active_link{
    border-bottom: 1px solid var(--khaki);
}
.links_wrapper {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: end;
}
.links_wrapper a{
    color: var(--black);
    white-space: nowrap;
    transition: color .5s, border-bottom-color .5s;
}
.links_wrapper a:not(:last-child){
    margin-right: 50px;  
}
.links_wrapper a:hover{
    border-bottom-color: var(--lightKhaki);
    color: var(--lightKhaki)
}
.link_basket {
    padding: 10px;
    border: none;
    background: transparent;
    position: relative;
    transition: transform 0.4s;
}
.link_basket:hover{
    transform: scale(1.05);
}
.link_basket[data-count]::after{
    content: attr(data-count);
    position: absolute;
    top: 0;
    right: 0;
    min-width: 18px;
    min-height: 18px;
    background-color: var(--khaki);
    font-size: 13px;
    color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px;
}
.link_basket img{
    width: 25px;
    height: 25px;
}

@media (max-width: 850px) {
    .links_wrapper a:not(:last-child){
        margin-right: 20px;  
    }
}
@media(max-width: 768px){
    .container{
        padding: 20px 4vw;
        grid-template-columns: repeat(2, 50%);
    }
    .links_wrapper{
        display: none;
    }
    
}