.container{
    max-width: var(--width);
    margin: 0 auto;
    min-height: 110px;
    padding: 20px 28px;
    display: grid;
    grid-template-columns: 10% 40% 40%;
    gap: 5%;
    align-items: center;
    text-transform: uppercase;
    font-size: 15px;
}

.links_wrapper {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: end;
}
.links_wrapper a{
    border-bottom: 1.5px solid white;
    padding: 5px;
    color: var(--black);
    white-space: nowrap;
    transition: color .5s, border-bottom-color .5s;
}
.links_wrapper a:not(:last-child){
    margin-right: 50px;  
}
.links_wrapper a:hover{
    border-bottom-color: var(--lightKhaki);
    color: var(--lightKhaki)
}

.link_basket img{
    width: 25px;
    height: 25px;
}
/*---logo-------------------------------------------------------------*/
.logo_link {
    color: var(--khaki);
    font-family: DM Serif Display;
    font-size: 29px;
    font-weight: bold;
    text-transform: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    letter-spacing: 1px;
    line-height: 1.5;
}
.logo_link span{
    color: var(--lightGrey);
    text-transform: uppercase;
    font-family: 'DM Sans',sans-serif;
    font-size: 13px;
    font-weight: lighter;
    letter-spacing: 2px;
}
@media (max-width: 850px) {
    .links_wrapper a:not(:last-child){
        margin-right: 20px;  
    }
}