.card{
    display: flex;
    flex-direction: column;
}
.card_img img{
    width: 300px;
    height: 300px;
}
.card_img button{
    display: none;
}
.card_price{
    display: flex;
    justify-content: space-evenly;
}
.price{
    text-decoration: line-through;
    color: grey;
}
.discount_percentage{
    color: #FF32A1;

}
