.product_card{
    aspect-ratio: 2/3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: box-shadow .7s;
    position: relative;
    border: 1px solid black;
}

.product_card:hover {
    box-shadow: 0px 4px 17px 0px rgba(34, 60, 80, 0.357);
}

.card_img_block{
    aspect-ratio: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
}

.card_img {
    width: 100%;
    height: 100%;
}
.card_img img{
    width: 100%;
    height: 100%;
}
.product_card a{
    height: 100%;
}
/**************************/
.card_top{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    padding: 10px;
    z-index: 4;
}
.card_toolbar{
    margin-left: auto;
    display: flex;
    align-items: center;
}

.discount_percentage{
    background: white;
    box-shadow: 0px 3px 15px -3px rgba(34, 60, 80, 0.277);
    padding: 6px;
    border-radius: 20px;
    font-size: .87rem;
    font-family: inherit;
    color: var(--grey);
}
.basket {
    display: flex;
    align-items: center;
    background: transparent;
    gap: 5px;
    border: none;
}

.basket_pop_up{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 10px;
    background-color: rgba(0, 0, 0, 0.719);
    color: white;
    font-family: inherit;
    border-radius: 3px;
}
.basket_btn {
    width: 33px;
    height: 33px;
    border-radius: 100%;
    border: none;
    background: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 3px 15px -3px rgba(34, 60, 80, 0.277);
    margin-left: auto;
    transition: all .7s;
}
.basket_btn img{
    width: 60%;
    height: 60%;
}
.basket_btn:hover{
    transform: scale(1.05);
    background: white;
}

/**********************************/
.card_content_block{
    height: 30%;
    padding: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.card_title{
    width: 100%;
    font-size: 20px;
    font-family: DM serif Display;
    color: var(--black);
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;   
}
.card_price_block{
    margin-top: auto;
    display: flex;
    align-items: center;
    gap: 5px;
    font-family: inherit;
    font-size: 13.5px;
    color: var(--darkGrey);
    font-weight: 700;
    line-height: 1.3;
}
.price{
    text-decoration: line-through;
    color: var(--lightGrey);    
}

@media (max-width: 400px) {
    .product_card {
        aspect-ratio: 0;
    }
    .product_card a{
        display: grid;
        grid-template-columns: 30% 70%;
        grid-auto-rows: 1fr;
    }
    .card_content_block{
        height: 100%;
        justify-content: start;
    }
    .card_price_block{
        margin-top: 2%;
    }
}

