.basketItem_wrapper{
    border: 1px solid var(--white);
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: inherit;
    color: var(--darkGrey);
    font-size: 15px;
    padding: 10px;
}
.basketItem_image {
    width: 100px;
    height: auto;
}
.basketItem_image img{
    width: 100%;
    height: 100%;
}
.basketItem_title{
    color: var(--khaki);
    text-transform: capitalize;
}
.basketItem_priceBlock,
.basketItem_toolbar{
    display: flex;
}
.basketItem_priceBlock{
    font-weight: 400;
    line-height: 1.3;
}

.basketItem_priceBlock :first-child {
    text-decoration: line-through;
    color: var(--lightGrey);
    margin-right: 10px;
}

.basketItem_toolbar{
    align-items: center;
}
.basketItem_toolbar button, 
.basketItem_toolbar p{
    width: 38px;
    height: 38px;
    background: transparent;
    border: 1px solid var(--white);
    border-collapse: separate;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    transition: color .5s;
}
.basketItem_toolbar button{
    font-size: 20px;
    font-weight: 100;
}
.basketItem_toolbar button:hover{
    color: var(--lightGrey);
}
.basketItem_subtotal{

}
.basketItem_deleteBtn{
    background: transparent;
    border: 1px solid var(--lightGrey);
    color: var(--lightGrey);
    border-radius: 50%;
    transition: border .7s, color .7s;
}
.basketItem_deleteBtn:hover{
    border: 1px solid var(--darkGrey);
    color: var(--darkGrey);
}