.basketItem_wrapper{
    width: 100%;
    min-height: 100px;
    border-bottom: 1px solid var(--white);
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: inherit;
    color: var(--darkGrey);
    font-size: 15px;
    padding: 10px;
    white-space: wrap;
    gap: 10px;
}
.basketItem_wrapper a{
    width: 70%;
    display: flex;
    align-items: center;
    gap: 10px;
}
.basketItem_image {
    width: 25%;
    height: 100%;
}
.basketItem_image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.basketItem_title{
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 70%;
    color: var(--khaki);
    text-transform: capitalize;
}
.basketItem_priceBlock,
.basketItem_toolbar{
    display: flex;
}
.basketItem_priceBlock{
    font-weight: 400;
    line-height: 1.3;
}

.basketItem_priceBlock :first-child {
    text-decoration: line-through;
    color: var(--lightGrey);
    margin-right: 10px;
}
.final_price{
    margin-left: 10px;
}

.basketItem_toolbar{
    align-items: center;
}
.basketItem_toolbar button, 
.basketItem_toolbar p{
    width: 38px;
    height: 38px;
    background: transparent;
    border: 1px solid var(--white);
    border-collapse: separate;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    transition: color .5s;
}
.basketItem_toolbar button{
    font-size: 20px;
    font-weight: 100;
    cursor: pointer;
}
.basketItem_toolbar button:hover{
    color: var(--lightGrey);
}
.basketItem_subtotal{
    width: 10%;
    text-align: center;
}
.basketItem_deleteBtn{
    background: transparent;
    border: 1px solid var(--lightGrey);
    color: var(--lightGrey);
    border-radius: 50%;
    transition: border .7s, color .7s;
    cursor: pointer;
    vertical-align: middle;
}
.basketItem_deleteBtn:hover{
    border: 1px solid var(--darkGrey);
    color: var(--darkGrey);
}