.container{
    min-height: 100%;
    margin: 0 auto;
    background-image: url(/public/images/categories-bg.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover; 
}
.title_wrapper{
    margin-bottom: 50px;
    padding: 150px 0;
    background: transparent;
}
.title_wrapper h3{
    max-width: var(--width);
    margin: 0 auto;
    text-align: center;
    font-size: 50px;
    font-family: DM serif Display;
    color: var(--black);
}
.wrapper{
    background: white;
    padding: 50px 0 100px;
}
.categories_wrapper{
    max-width: var(--width);
    margin: 0 auto;
    padding: 20px 2vw;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 3%;
}