.main_btn{
    width: fit-content;
    height: fit-content;
    background-color: var(--khaki);
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    text-transform: uppercase;
    color: white;
    font-family: inherit;
    letter-spacing: 1px;
    line-height: 1.5;
    transition: background-color .5s;
    margin: 5% 0 0 0;
}
.main_btn:hover{
    background-color: var(--lightKhaki);
}
@media (max-width: 769px) {
    .main_btn {
        font-size: .8rem;
        margin: 0
    }
}