.container{
    background-color: var(--lightBack);
    padding: 40px 2vw;
}
.content{
    max-width: var(--width);
    margin: 0 auto;
    background-color: white;
    padding: 40px 2vw;
    font-family: inherit;
    color: var(--darkGrey);
}
/************************************/
.product_item{
    display: grid;
    grid-template-columns: repeat(2, 48%);
    grid-auto-rows: 1fr;
    gap: 3%;
}
/*************************************/
.product_item_img{
    border: 1px sienna solid;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 100%;
    max-height: 100%;
    aspect-ratio: 1;
    cursor: none;
    position: relative;
}
.product_item_img:hover .loupe{
    display: block;
}
.product_item_img:hover .enlarged_block{
    display: block;
}
.product_item_img img{
    width: 100%;
    height: 100%;
}
.loupe{
    width: 40px;
    height: 40px;
    position: absolute;
    left: 0;
    top: 0;
    pointer-events: none;
    display: none;
    z-index: 5;
}
.loupe svg{
    width: 30px;
    height: 30px;
    fill: var(--khaki);
}
.enlarged_block{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-size: 200%;
    background-repeat: no-repeat;
    display: none;
    pointer-events: none;
}

/*************************************/
.product_item_info{
    border: 1px solid red;
    display: flex;
    flex-direction: column;
}
.product_item_switchBtn{
    display: flex;
    gap: 5px;
    justify-content: end;  
}
.product_item_switchBtn button{
    border-radius: 100%;
    display: flex;
    justify-content: center;
    color: white;
    border: none;
    background-color: var(--khaki);
    width: 30px;
    height: 30px;
    font-size: 19px;
    text-align: center;
    transition: background-color .6s;
}
.product_item_switchBtn button:hover{
    background-color: var(--lightKhaki);
}

.product_item_info h1{
    font-family: DM serif Display;
    color: var(--black);
    font-size: 40px;
    margin-bottom: 20px ;
}
.product_item_price_block {
    
}
.product_item_price{
    display: flex;
    align-items: baseline;
    font-size: 22px;
    gap: 5px;
    margin-bottom: 5%;
}
.discount_percentage{
    font-size: 15px;
}
.throughed_price{
    color: var(--lightGrey);
    text-decoration: line-through;
    font-weight: 400;
}
.final_price{
    font-weight: 700;
}
.dicount_price{

}
.dicount_price{

}
.discount_percentage{

}
/*********************************/
.product_item_toolbar{
    display: flex;
    gap: 10px;
    align-items: center;
    
}
.product_item_countbar{
    display: flex;
    align-items: center;
    margin-top: 20px;
}
.product_item_countbar button,
.product_item_countbar p{
    width: 38px;
    height: 38px;
    background: transparent;
    border: 1px solid var(--white);
    border-collapse: separate;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    transition: color .5s;
}
.product_item_countbar button{
    font-size: 20px;
    font-weight: 100;
}
.product_item_countbar button:hover{
    color: var(--lightGrey);
}

/*****************************/
.product_item_payment{
    height: 120px;
    border: 1px solid var(--white);
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 15px;
    margin: 20px 0;
    
}
.product_item_payment p{
    margin: -35px 5px 15px 5px;
    background-color: white;
    padding: 5px;
    text-transform: capitalize;
    font-weight: 600;
    font-size: 14px;
}
.product_item_payment_img{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 15px;
}
.product_item_payment_img{
    height: 50px;
}
.icon{
    width: 50px;
    height: 43px;
}
/*********************************/
.product_item_payment_info{
    display: flex;
    flex-direction: column;
}
.product_item_payment_info p{
    display: flex;
    align-items: center;
    font-weight: 400;
    padding: 5px 0;
}
.product_item_payment_info svg{
    fill: var(--darkGrey);
    width: 15px;
    height: 15px;
    margin-right: 5px;
}
/********************************/
.product_descr{
    margin: 30px 0;
    padding: 20px 0;
    border: 1px solid green;
    display: flex;
}
.product_descr span{
    font-family: DM serif Display;
    font-size: 18px;
    color: var(--black);
    margin-right: 50px;
}
.product_descr p{
    line-height: 1.8;
    color: var(--lightGrey);
}
@media (max-width: 1000px) {
    .product_item_info h1{
        font-size: 30px;
    }
}
@media (max-width: 769px) {
    .product_item{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }
    .product_item_countbar{
        margin-top: 0;
    }
}
@media (max-width: 400px) {
    .product_item_info h1{
        font-size: 20px;
    }
    .product_descr{
        flex-direction: column;
    }
    .product_item_countbar{
        margin-top: 0;
    }
}